{% extends "loja/base.html" %}
{% load static %}
{% block title %}Carrinho{% endblock title %}

{% block content %}

<div class="container text-light py-5 detalhe-carrinho">
    <h2 class="text-uppercase mb-4">Seu carrinho:</h2>
    
        {% for item in cart %}
        <div class="row">
            <div class="col-2 border border-light">
                <img src="{{ item.produto.imagem.url }}" alt="p imagem">
            </div>
            <div class="col-4 border border-light">
                <p class='p-carrinho'>{{item.produto.nome|truncatechars:30}}</p>
                <p class='p-carrinho'>{{item.quantidade}}X R${{item.produto.preco}}</p>
            </div>
            <div class="col-3 border border-light"><p class='p-carrinho'>R${{item.preco_total}}</p></div>
            <div class="col-3 border border-light">
                <form action="{% url 'cart_remove' item.produto.id %}" method='POST'>
                    {% csrf_token %}
                    <input type='submit' class="btn btn-danger my-2" value='Remover'></imput>
                </form>
            </div>
        </div>
        {% endfor %}
        <div class="row border border-light p-3"><p class='total'>
            {% if cart|length == 0 %}
                Seu carrinho está vazio.
            {% else %}
                Total: R${{cart.get_preco_total}}</p>
            {% endif %}    
        </div>
        <div class='d-flex justify-content-between'>
            <a href="{% url 'loja:index' %}" class='btn btn-primary my-3'>Continuar comprando</a>
            <a href="#" class='btn btn-success my-3'>Pagar</a>
        </div>
        <div class='d-flex justify-content-between'>
            <form action="{% url 'cart_clear' %}" method='POST'>
                {% csrf_token %}
                <input type='submit' class="btn btn-danger my-2" value='Limpar Carrinho'></imput>
            </form>
        </div>
        
</div>
{% endblock content %}
