{% extends "loja/base.html" %}
{% load static %}
{% block title %}Cadastro{% endblock title %}

{% block content %}

<div class="container text-light py-5">
    <h2 class="text-uppercase mb-4">Cadastro de produto:</h2>
    <div class="form_contaier col-lg-6">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="nome">Nome</label>
            <input type="text" name='nome' id='nome' class='form-control my-1' required>
            <label for="categoria">Categoria</label>
            <select name="categoria" id="categoria" class='form-select'>
                {% for c in categorias %}
                    <option value="{{c.nome}}">{{c.nome}}</option>
                {% endfor %}
            </select>
            <label for="nome">Descrição</label>
            <textarea rows=3 name='descricao' id='descricao' class='form-control my-1'></textarea>
            <label for="preco">Preço</label>
            <input type="number" name='preco' id='preco' class='form-control my-1' min="0" step=".01"  required>
            <label for="imagem">Imagem</label>
            <input type="file" id="imagem" name="imagem" accept="image/*" class='form-control my-1'>
          </div>
         
          <button type="submit" class="btn btn-primary my-2">Cadastrar</button>
        </form>
      </div>
    </div>
</div>
<script src="{% static 'js/valida-senha.js' %}"></script>
{% endblock content %}
