{% extends "loja/base.html" %}

{% block title %}Dashboard{% endblock title %}

{% block content %}
<div class="container-principal">
    <div class="row justify-content-center">
        <div class="col-10 col-lg-10 text-light">
            <h2>Bem Vindo {{nome_usuario}}</h2>
            <a href="{% url 'password_change' %}" >
                <div class='dashboard-opcao border border-dark'>
                    <p>Modificar senha <span class='mx-3' ><i class="fa-solid fa-angle-right"></i></span></p>
                </div>
            </a>
            <a href="{% url 'password_reset' %}" >
                <div class='dashboard-opcao border border-dark'>
                    <p>Esqueceu a senha?<span class='mx-3' ><i class="fa-solid fa-angle-right"></i></span></p>
                </div>
            </a>
            <a href="{% url 'logout' %}" >
                <div class='dashboard-opcao border border-dark'>
                    <p>Sair da conta<span class='mx-3' ><i class="fa-solid fa-angle-right"></i></span></p>
                </div>
            </a>
        </div>
    </div>

    {% if user.is_superuser %}
        <div class="row text-light justify-content-center mb-4">
            <div class="col-10 col-lg-10 text-light">
                <h1 class='text-uppercase my-5'>Área administrativa</h1>
                <a href="{% url 'loja:admin_produto'%}" >
                    <div class='dashboard-opcao border border-dark'>
                        <p>Cadastrar ou alterar um produto <span class='mx-5' ><i class="fa-solid fa-angle-right"></i></span></p>
                    </div>
                </a>
                <a href="{% url 'loja:cadastro_categoria' %}" >
                    <div class='dashboard-opcao border border-dark'>
                        <p>Criar categoria<span class='mx-3' ><i class="fa-solid fa-angle-right"></i></span></p>
                    </div>
                </a>              
            </div>
        </div>
    {% endif %}
</div>
    


{% endblock content %}