{% extends "loja/base.html" %}
{% load static %}
{% block title %}Mudar{% endblock title %}

{% block content %}
<div class="container-principal">
    <div class="row justify-content-center">
        <div class="col-8 col-lg-4">
            <form method="POST">
                {% csrf_token %}
                <h1 class='text-light'>Mude sua senha</h1>
                <div class="form-group ms-3">
                    <label class='text-light' for="id_old_password">Senha atual</label>
                    <input type="password" id='id_old_password' name='old_password' class='form-control my-2'>
                    <label class='text-light' for="id_new_password1">Nova senha</label>
                    <input type="password" id='id_new_password1' name='new_password1' class='form-control my-2'>
                    <label class='text-light' for="id_new_password2">Confirme a senha</label>
                    <input type="password" id='id_new_password2' name='new_password2' class='form-control my-2'>
                    <input type="submit" class="btn btn-light  my-2" value="Mudar senha"></input>
                </div>
                
                </div>
            </form>
            
        </div>
    </div>
    <div class="row justify-content-center">
        <h5 class="text-light">
            Sua senha não pode ser seu nome de usuário. <br>
            A senha deve ter ao menos 8 caracteres. <br>
            A senha não pode ser igual a uma senha antiga. <br>
            Sua senha não pode ter apenas números. <br>

        </h5>
    </div>  
</div>
<script src="{% static 'js/valida-reset-senha.js' %}"></script>
{% endblock content %}