{% extends "loja/base.html" %}

{% block title %}Reset{% endblock title %}

{% block content %}
<div class="container-principal">
    <div class="row justify-content-center">
        <div class="col-8 col-lg-4">
            <form method="POST">
                {% csrf_token %}
                <h1 class='text-light'>Reset de senha</h1>
                <h4 class='text-light'>Um link de confirmação será enviado para o email informado abaixo:</h4>
                <div class="form-group ms-3">
                    <label class='text-light' for="id_email">Email</label>
                    <input type="email" id='id_email' name='email' class='form-control my-2'>
                                    
                    <button type="submit" class="btn btn-light  my-2">Mandar email</button>
                </div>
            </form>
           
        </div>
    </div>
</div>

{% endblock content %}